/* ----- Logo ----- */

#logo a {
	background-image:url('http://rack.1.mshcdn.com/media/ZgkyMDEyLzEyLzA0Lzg3L3BvcGV5ZWNyZWF0LmRYdS5naWYKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/8daec493/067/popeye-creator-e-c-segar-gets-spinach-with-his-google-logo-c77abe7905.jpg'); 
	min-height:0;
	height:70px;
}
* html #logo a {/* IE6 png Support */
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://rack.1.mshcdn.com/media/ZgkyMDEyLzEyLzA0Lzg3L3BvcGV5ZWNyZWF0LmRYdS5naWYKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/8daec493/067/popeye-creator-e-c-segar-gets-spinach-with-his-google-logo-c77abe7905.jpg", sizingMethod="crop");
}

/* ----- Backgrounds ----- */
html{
	background-image:none;	background-color:#339900;
}
#logo{
	background-image:none;	background-color:#669900;
}
#container, html.embed{
	background-color:#99cc00;
}